<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  <section>
  <div>
  <h1> New Form </h1>
  </div>
  <form>
  <div>
  <label for="title">Title</label>
  <input type="title" name="title" id="title" />
  </div>

  <div>
  <label for="price">Price</label>
  <input type="price" name="price" id="price" />
  </div>

  <div>
  <label for="quantity">Quantity</label>
  <input type="quantity" name="quantity" id="quantity" />
  </div>

  <div>
  <label for="description">Description</label>
  <input type="description" name="description" id="description" />
  </div>

  <Button>
  SUBMIT
  </Button>
  </form>
  </section>
</body>
</html>
